@model CharacterViewModel

@{
    ViewBag.Title = "Update Character";
    Layout = "_Layout";

    int userID = (int)Context.Session.GetInt32("userID");
    
    @if (ViewData["Message"] != null)
    {
        <div class="@ViewData["MessageClass"]" role="alert">
            @ViewData["Message"]
        </div>
    }
}


<form method="post" asp-controller="Browse" asp-action="UpdateCharacter" asp-route-characterID="@Model.CharacterID">
    <h2><input type="text" name="Description" style="border: none; display: inline-block;" value="@Model.Name" /></h2>
    <p><b>Cost:</b> <input type="text" name="Description" style="border: none; display: inline-block;" value="@Model.Cost" /></p>
    <p><b>Occupation:</b> @Model.Occupation.Name</p>

    <label>Traits</label>
    @foreach (var trait in Model.Traits)
    {
        <p><b>@trait.Name</b></p>
    }
    
    @if (Model.User.UserID == userID)
    {
        <select class="form-control" id="occupationID" asp-for="OccupationID">
            @foreach (OccupationViewModel viewModel in ViewBag.Occupation)
            {
                <option value="@viewModel.OccupationID">@viewModel.Name</option>
            }
        </select>
    
        <label>Traits</label>
        <select class="form-control" id="traitID" style="color: green" asp-for="Arraytraits">
            @foreach (TraitViewModel viewModel in ViewBag.Trait)
            {
                @if (viewModel.PosNeg)
                {
                    <option value="@viewModel.TraitID">@viewModel.Name</option>
                }
            }

        </select>
        <br/><br/>
        <select class="form-control" id="traitID" style="color: red" asp-for="Arraytraits">
            @foreach (TraitViewModel viewModel in ViewBag.Trait)
            {
                @if (viewModel.PosNeg == false)
                {
                    <option value="@viewModel.TraitID">@viewModel.Name</option>
                }
            }
        </select>
    
        <div class="form-group">
            <input asp-for="Name" type="text" class="form-control" placeholder="@Model.Name" required="required">
        </div>
        <button type="submit" class="btn btn-primary submit">Update Character</button>
        <div>
            <a asp-action="DeleteCharacter" asp-controller="Browse"  asp-route-characterID="@Model.CharacterID" class="btn btn-danger btn-block-custom btn2">Delete character</a>
        </div>
    }

    
</form>



