@model List<CharacterViewModel>

@{
    ViewBag.Title = "Create Character";
    Layout = "_Layout";
    
    @if (ViewData["Message"] != null)
    {
        <div class="@ViewData["MessageClass"]" role="alert">
            @ViewData["Message"]
        </div>
    }
}

<h2>Browse Characters</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            CharacterID
        </th>
        <th>
            Name
        </th>
        <th>
            Cost
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (CharacterViewModel characterViewModel in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => characterViewModel.CharacterID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => characterViewModel.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => characterViewModel.Cost)
            </td>
            <td>
                <a class="Details" asp-controller="Browse" asp-action="Detail" asp-route-characterID="@characterViewModel.CharacterID">Details</a>
            </td>
        </tr>
    }
    </tbody>
</table>